<input type="button" name="google_button" id="google_button" value="google button">
<script type="text/javascript">
    (function (){
       require(["jquery"],function($) {
           $(document).ready(function($){
               $("#google_button").on('click', function(e){
                   location.reload(true);
               })
           });
       });
    })();
</script>



